<!-- plantillas/registration/password_reset_form.html -->
{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block titulo %} Contraseña olvidada {% endblock titulo %}

{% block contenido %}
    <div class="mx-auto w-50 card p-3 mt-5">
        <h1>¿Olvidó su contraseña?</h1>
        <p>
            Introduza su correo electrónico abajo, y le enviaremos un mail
            para restablecer su contraseña
        </p>
        <form method="post" autocomplete="off">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success w-100" type="submit" value="Envienme las instrucciones">
        </form>
    </div>
{% endblock contenido %}