<!-- plantillas/registration/password_reset_form.html -->
{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block titulo %} Contraseña olvidada {% endblock titulo %}

{% block contenido %}
    <div class="mx auto w-50">
        <h1>¿Olvidó su contraseña?</h1>
        <p>
            Introduza su correo electrónico anajo, y le enviaremos un mail
            para restablecer su contraseña
        </p>
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Envienme las instrucciones">
        </form>
    </div>
{% endblock contenido %}