{% extends "_base.html" %}

{% block titulo %} Métodos reportados {% endblock titulo %}

{% block contenido %}
    <div class="w-75 mx-auto mt-3">
        {% if metodo_list %}
            <div class="row">
                {% for metodo in metodo_list %}
                <article class="card px-3 py-2 col-md-4 m-2">
                    <section class="d-flex justify-content-between">
                        <a href="{% url 'detalle_nuevo' metodo.pk %}" target="_blank">
                            {{ metodo.titulo }}
                        </a>
                        <p>
                            por: <b>{{ metodo.autor }}</b>
                        </p>
                    </section>
                </article>
            {% endfor %}
            </div>
        {% else %}
            <p class="text-center fs-1 mt-5">No hay propuestas de métodos</p>
        {% endif %}
    </div>
{% endblock contenido %}