{% extends "_base.html" %}
{% load static %}

{% block titulo %} Inicio {% endblock titulo %}

{% block contenido %}
    <img src="{% static 'banner.png' %}" alt="imagen banner">

    <div class="row">
        {% if metodo_list %}
            {% for metodo in metodo_list %}
                <div class="col-md-6 p-5">
                    <article class="card">
                        <!-- Titulo -->
                        <h3 
                            class="card-header link-dark text-center fuente-h3"
                        >
                            <a 
                                href="{{ metodo.get_absolute_url }}"
                                class="text-decoration-none text-black"
                            > {{ metodo.titulo }}</a>
                        </h3>

                        <!-- Cuerpo -->
                        <section class="card-body d-flex justify-content-between align-items-center">
                            <p class="fuente-p"> {{ metodo.descripcion }} </p>
                            <img 
                                src="{{ metodo.imagen.url }}" 
                                alt="{{ metodo.titulo }}" 
                                class="img-thumbnail"
                                style="width: 15%; background-color: #e4e4e4;"
                            >
                        </section>
                    </article>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center fs-1 mt-5 fuente-p">No hay resultados</p>
        {% endif %}
    </div>
{% endblock contenido %}